<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wtwd.yusan">

    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!--用于mob验证码权限-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />


    <application
        android:name="MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/cheekat_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="6072b710f29cb4bd5e0d60843bbee090" />

        <!-- 通过AndroidManifest配置AppKey和AppSecret，如果你选择通过代码配置，则不需要配置以下meta-data -->
        <meta-data
            android:name="Mob-AppKey"
            android:value="256911464aeb8" />
        <meta-data
            android:name="Mob-AppSecret"
            android:value="3605bf95f4aceb7a3322eac16f265e87" />

        <meta-data
            android:name="com.wtwd.yusan.util.GlideCache"
            android:value="GlideModule" />

        <service android:name="com.amap.api.location.APSService" />

        <activity android:name=".activity.LandChooseActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--验证码界面-->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".activity.TaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FeedBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NearbyListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PublishTaskActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.RedPacketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DetailTaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserIndexActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyPacketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RechargeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.WithdrawalsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PacketDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ModifyUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NickActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LandPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>

</manifest>